<div id="header">
  <div class="header-navigation">
    <ul>
      <li><a href="/musings">Musings</a></li>
      <li><a href="/notes">Notes</a></li>
      <li><a href="/likes">Likes</a></li>
    </ul>
    <span class="header-section-title">
      {% if page.section == project %}
        <a href="/projects">Projects</a>
      {% else %}
        <a href="/">Blah Bidy Blah</a>
      {% endif%}
    </span>
  </div>

  <div class="header-sticky-container">
    <div class="header-logo">
      <h2><a href="{{ site.url }}">Jihong Lee</a></h2>
    </div>
    <div class="header-search">
      {% if page.section != project %}
        <h2>Projects</h2>
      {% else %}
        <h2><a href="/">Blah Bidy Blah</a></h2>
        <span>{% include search.html %}</span>
      {% endif%}
    </div>
  </div>
</div>
